* {
  margin: 0;
  padding: 0%;
}

.logo-header {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #ffffff;
  opacity: 90%;
}
header .logo-header {
  width: 80%;
}

ul {
  gap: 40px;
}

.nav-item a {
  font-family: "Montserrat", sans-serif;
  color: #ff68a1;
}

.banner-home {
  width: 100%;
  height: 500px;
  background-image: url("../img/home-banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1, h2, h3 {
  display: flex;
  justify-content: center;
}

h4 {
  color: #ff68a1;
  font-size: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.mi-h1 {
  color: #ff68a1;
  font-size: 2em;
  text-align: center;
  font-family: "Lobster", sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
}

.mi-h2 {
  color: #696969;
  font-size: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 60px;
  padding: 10px 60px;
}

.mi-h3 {
  color: #696969;
  font-size: 1em;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding: 10px 100px;
}

.cajas-home {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;
}
.cajas-home .text-cajas {
  margin-top: 30px;
}
.cajas-home .text-cajas .text-cajas-p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #696969;
}

.home-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff0f5;
  height: 400px;
  padding-top: 60px;
}
.home-nosotros .nos-home-btn {
  padding: 10px 40px;
  border-radius: 40px;
  margin-top: 20px;
  border: none;
  background-color: #ff68a1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.home-nosotros .nos-home-btn.nos-home-btn:hover {
  background-color: #696969;
}

.mas-vendidos {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 20px;
}
.mas-vendidos .card {
  border: 1px solid #dddddd;
  border-radius: 10px;
  overflow: hidden; /* Evita que el contenido se desborde */
  width: 250px;
}
.mas-vendidos .card .contenido {
  padding: 16px;
  text-align: center;
}
.mas-vendidos .card .contenido .titulo-card {
  color: #ff68a1;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
.mas-vendidos .card .contenido .titulo-card .parrafo-card {
  color: #696969;
  font-family: "Montserrat", sans-serif;
}
.mas-vendidos .card .contenido .titulo-card .parrafo-card .card img {
  width: 100%;
  height: auto;
}

.banner-productos {
  width: 100%;
  height: 280px;
  background-image: url("../img/productos/banner-productos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Grilla-------------------------------------------------------------*/
.grid {
  display: grid;
  padding-top: 20px;
  grid-template-areas: "aside grilla grilla" "aside grilla grilla" "aside grilla grilla";
}

.grilla-productos {
  display: grid;
  grid-area: grilla;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}
.grilla-productos .card {
  border: 1px solid #dddddd;
  border-radius: 10px;
  overflow: hidden; /* Evita que el contenido se desborde */
  width: 250px;
}
.grilla-productos .card .card img {
  width: 100%;
  height: auto;
}

/*Cards-------------------------------------------------------------*/
.contenido {
  padding: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #696969;
}
.contenido .titulo-card {
  color: #ff68a1;
  font-size: 20px;
}
.contenido .titulo-card .parrafo-card {
  font-size: 16px;
}

.btn-card {
  background-color: #ff68a1;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

button:hover {
  background-color: #696969;
}

/*Aside-------------------------------------------------------------*/
aside {
  grid-area: aside;
  background-color: #fff0f5;
  padding: 30px;
  color: #ff68a1;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.barra-busqueda {
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
}

.barra-busqueda input {
  margin-top: 20px;
  width: 60%;
  padding: 8px;
  border: none;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  margin-right: 10px;
}

.barra-busqueda button {
  font-family: "Montserrat", sans-serif;
  width: 30%;
  padding: 8px 20px;
  background-color: #ff68a1;
  border-radius: 40PX;
  color: white;
  border: none;
  cursor: pointer;
}

.barra-busqueda button:hover {
  background-color: #696969;
}

/* Estilos para los filtros------------------------------------------------------------- */
.filtros-productos {
  margin-top: 20px;
}

.filtros-productos h3 {
  margin-bottom: 10px;
}

.filtros-productos form {
  display: flex;
  flex-direction: column;
}

.filtros-productos label {
  margin-bottom: 8px;
}

.filtros-productos button {
  background-color: #ff68a1;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 40px;
  margin-top: 20px;
}

.filtros-productos button:hover {
  background-color: #696969;
}

.banner-eventos {
  width: 100%;
  height: 280px;
  background-image: url("../img/eventos/banner-eventos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-nosotros {
  width: 100%;
  height: 280px;
  background-image: url("../img/nosotros/banner-nosotros.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenido-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contenido-nosotros img {
  width: 450px;
  margin-bottom: 20px;
}

.nos-btn {
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
  background-color: #ff68a1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.banner-contacto {
  width: 100%;
  height: 280px;
  background-image: url("../img/contacto/banner-contacto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mb-3 {
  color: #696969;
  font-family: "Montserrat", sans-serif;
}

.btn {
  color: #ffffff;
  background-color: #ff68a1;
  border: none;
  border-radius: 40px;
  padding: 10px 40px;
  font-family: "Montserrat", sans-serif;
}

.contact-btn button:hover {
  color: #ffffff;
  background-color: #696969;
}

footer {
  display: flex;
  background-color: #696969;
  margin-top: 100px;
  padding: 40px 40px;
  background-image: url("../img/footer/footer_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.linea-blanca {
  border: 1px solid white;
  margin: 20px 0;
}

.copy-rigth {
  color: #ffffff;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.footer-cajas {
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.insta, .wasap, .mail {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
}

.footer-p {
  width: 300px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/*TABLETS-------------------------------------------------------------*/
@media (max-width: 991px) {
  /**Home**/
  .banner-home {
    width: 100%;
    height: 400px;
  }
  /*Productos*/
  .grid {
    grid-template-areas: "aside aside" "grilla grilla" "grilla grilla";
  }
  aside {
    margin-bottom: 30px;
  }
  .grilla-productos {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(5, 1fr);
  }
  /*Footer*/
  .footer-cajas {
    gap: 40px;
  }
}
/*INTERMEDIO-------------------------------------------------------------*/
@media (max-width: 600px) {
  /*Home*/
  .banner-home {
    background-image: url("../img/home-banner-mobile.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home-nosotros {
    padding-top: 20px;
  }
}
/*CELULARES-------------------------------------------------------------*/
@media (max-width: 480px) {
  /*Home*/
  .home-nosotros {
    padding-top: 30px;
  }
  /*Productos*/
  .grid {
    grid-template-areas: "aside" "grilla" "grilla";
  }
  aside {
    margin-bottom: 30px;
  }
  .grilla-productos {
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(5, 1fr);
  }
  /*Eventos*/
  /*Nosotros*/
  .contenido-nosotros img {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
