.banner-contacto {
    @extend %banner-secciones;
    background-image: url('../img/contacto/banner-contacto.jpg');
}

.contact-h1 {
    @extend %h1;
}

.contact-h2{
    @extend %h2;
    margin-bottom: 60px
}

.formulario {
    background-color: map-get($colores, color-terciario);
    width: 60%;
    padding: 80px;
    border-radius: 10px;
    .mb-3 {
        color: $color-secundario;
        font-family: $fuente-secundaria;
    }
}

.btn {
    color: #ffffff;
    background-color: map-get($colores, color-primario);
    border: none;
    margin-top: 10px;
    border-radius: 40px;
    padding: 10px 40px;
    font-family: $fuente-secundaria;
    &:hover{
        color: #ffffff;
        background-color: map-get($colores, color-secundario);
    }
}

