.banner-contacto {
    width: 100%;
    height: 280px;
    background-image: url('../img/contacto/banner-contacto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mb-3 {
    color: $color-secundario;
    font-family: 'Montserrat', sans-serif;
}

.btn {
    color: #ffffff;
    background-color: $color-primario;
    border: none;
    border-radius: 40px;
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
}
.contact-btn button:hover{
    color: #ffffff;
    background-color: $color-secundario;
}
