.banner-eventos {
    @extend %banner-secciones;
    background-image: url('../img/eventos/banner-eventos.jpg');
    margin-bottom: 60px;
}

.ev-h1 {
    @extend %h1;
}

.ev-h2{
    @extend %h2;
    margin-bottom: 60px
}
