header {
    position:sticky;
    z-index: 1;
    top: 0;
    background-color: #ffffff;
    opacity: 90%;
    .logo-header {
        width: 80%;
    }
}

ul{
    gap: 40px;
    .nav-item a {
        font-family: 'Montserrat', sans-serif;
        color: map-get($colores, color-primario);
    }
}

