.banner-nosotros {
    @extend %banner-secciones;
    background-image: url('../img/nosotros/banner-nosotros.jpg');
}

.nos-h1 {
    @extend %h1;
}

.nos-h2{
    @extend %h2;
}

.contenido-nosotros {
    display: flex;
    flex-direction: column;
    text-align: center;
    img{
    width: 450px;
    margin-bottom: 20px;
    }
}

.nos-btn {
    padding: 10px 40px;
    border-radius: 40px;
    border: none;
    background-color: map-get($colores, color-primario);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: $fuente-secundaria;
    &:hover {
        background-color: map-get($colores, color-secundario);
        transition: .4s;
    }   
}
