.banner-productos {
    width: 100%;
    height: 280px;
    background-image: url('../img/productos/banner-productos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Grilla-------------------------------------------------------------*/
.grid {
    display: grid;
    padding-top: 20px;
    grid-template-areas: 
    "aside grilla grilla"
    "aside grilla grilla"
    "aside grilla grilla"
    ;
}

.grilla-productos {
    display: grid;
    grid-area: grilla;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    .card {
        border: 1px solid #dddddd;
        border-radius: 10px;
        overflow: hidden; /* Evita que el contenido se desborde */
        width: 250px;
        .card img {
            width: 100%;
            height: auto;
        }
    }
}

/*Cards-------------------------------------------------------------*/

.contenido {
    padding: 16px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: $color-secundario;
    .titulo-card {
        color: $color-primario;
        font-size: 20px;
        .parrafo-card {
            font-size: 16px;
        }
    }
}

.btn-card {
    background-color: $color-primario;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: $color-secundario;
}

/*Aside-------------------------------------------------------------*/
aside {
    grid-area: aside;
    background-color: $color-terciario;
    padding: 30px;
    color: $color-primario;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.barra-busqueda {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}
  
.barra-busqueda input {
    margin-top: 20px;
    width: 60%;
    padding: 8px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    margin-right: 10px;
}
  
.barra-busqueda button {
    font-family: 'Montserrat', sans-serif;
    width: 30%;
    padding: 8px 20px;
    background-color: $color-primario;
    border-radius: 40PX;
    color: white;
    border: none;
    cursor: pointer;
}
.barra-busqueda button:hover {
    background-color: $color-secundario;
  }

/* Estilos para los filtros------------------------------------------------------------- */
.filtros-productos {
    margin-top: 20px;
  }
  
.filtros-productos h3 {
    margin-bottom: 10px;
}
  
.filtros-productos form {
    display: flex;
    flex-direction: column;
}
  
.filtros-productos label {
    margin-bottom: 8px;
}
  
.filtros-productos button {
    background-color: $color-primario;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 20px;
}
  
.filtros-productos button:hover {
    background-color: $color-secundario;
}