.banner-productos {
    @extend %banner-secciones;
    background-image: url('../img/productos/banner-productos.jpg');
}

.prod-h1 {
    @extend %h1;
}

.prod-h2{
    @extend %h2;
}

.prod-h3 {
    @extend %h3;
}

/*Grilla-------------------------------------------------------------*/
.grid {
    display: grid;
    padding-top: 20px;
    grid-template-areas: 
    "aside grilla grilla"
    "aside grilla grilla"
    "aside grilla grilla"
    ;
}

.grilla-productos {
    display: grid;
    grid-area: grilla;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    .card {
        border: 1px solid #dddddd;
        border-radius: 10px;
        overflow: hidden; /* Evita que el contenido se desborde */
        width: 250px;
        &:hover{
            transform: scale(1.04);
            transition: .4s;
            box-shadow: 0 0 10px rgb(223, 223, 223);
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

/*Info cards-------------------------------------------------------------*/

.contenido {
    padding: 16px;
    text-align: center;
    font-family: $fuente-secundaria;
    color: map-get($colores, color-secundario);
    .titulo-card {
        color: map-get($colores, color-primario);
        font-size: 20px;
        .parrafo-card {
            font-size: 16px;
        }
    }
}

.btn-card {
    background-color: map-get($colores, color-primario);
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    font-family: $fuente-secundaria;
    &:hover {
        background-color: map-get($colores, color-secundario);
        transition: .4s;
    }
}

/*Aside-------------------------------------------------------------*/
aside {
    grid-area: aside;
    background-color: map-get($colores, color-terciario);
    padding: 30px;
    color: map-get($colores, color-primario);
    border-radius: 10px;
    font-family: $fuente-secundaria;
    .barra-busqueda {
        margin-bottom: 40px;
        button {
            width: 30%;
            padding: 8px 20px;
            background-color: map-get($colores, color-primario);
            border-radius: 40PX;
            color: white;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: map-get($colores, color-secundario);
                transition: .4s;
              }
            }
            input {
                margin-top: 20px;
                width: 60%;
                padding: 8px;
                border: none;
                border-radius: 10px;
                margin-right: 10px;
        }
    }
}

/* Estilos para los filtros------------------------------------------------------------- */
.filtros-productos form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    button {
        background-color: map-get($colores, color-primario);
        color: white;
        border: none;
        padding: 8px;
        cursor: pointer;
        border-radius: 40px;
        margin-top: 20px;
        font-size: 16px;
        &:hover {
            background-color: map-get($colores, color-secundario);
            transition: .4s;
        }
    }
}